body {
  text-align: center;
  background-color: #F35B68;
}

.title {
  color: #00BEB2; 
  font-family: fantasy;
  font-size: 50px;
}

#description {
  color: #1A5D63;
  font-family: cursive;
  font-size: 20px; 
}

#startScreen {
  height: 200px;
}

#start {
  font-family: fantasy;
  font-size: 30px;
  color:  #00BEB2;
  background-color: #1A5D63;
  margin: 10px;
  padding: 5px 30px 5px 30px;
}

#gameboard {
  width: 350px;
  margin: auto;
}

.tile {
  margin: 2px;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  float: left;
  text-align: center;
}

.tile > img {
  padding-top: 25px;
  height: 50%;
  width: auto;
  margin: auto;
}

.hidden {
  display: none;
}

button {
  margin-bottom: 25px;
}
